* {
  margin: 0;
  padding: 0;
}
.inter-font1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-serif-font2 {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* shared styles */
.sec-title {
  font-weight: bold;
  font-size: 3.125rem;
}
.sec-paragraph {
  font-size: 1.375rem;
}
.special-word {
  color: #e95a08;
}

/* Navbar section */
.navbar {
  max-width: 1140px;
  height: 71px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.nav-right {
  flex: 1;
  max-width: 415px;
  padding-top: 18px;
  padding-bottom: 18px;
  /* border: 2px solid red;   */
}
.items {
  display: flex;
  justify-content: space-between;
}
.nav-right li {
  list-style: none;
}
.nav-right a {
  text-decoration: none;
}
.nav-right .item1 {
  font-weight: bold;
  color: #252432;
}
.nav-right .item2 {
  color: rgba(137, 135, 161, 1);
}
.nav-right li:nth-child(4) {
  color: #000000;
}
/* banner section style */
.banner {
  max-width: 1140px;
  height: 461px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 120px;
}
.banner-left {
  max-width: 570px;
  height: 299px;
}
.banner-left h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #000000;
}
.banner-left p {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 13px;
}
.banner-right {
  max-width: 570px;
  height: 355px;
}
.banner-right img {
  width: 100%;
  height: 100%;
}

/* our plants section styles */
.btn {
  width: 270px;
  height: 50px;
  text-align: center;
  font-weight: 600;
  color: #ffffff;
  background-color: #e95a08;
  /* padding: 19px 80px; */
  margin-top: 20px;
  border: none;
}
.our-plants {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 210px;
}
.our-plants > p {
  margin-top: 16px;
  margin-bottom: 49px;
  padding-left: 14.5px;
  padding-right: 11.5px;
  color: rgba(0, 0, 0, 0.5);
}
.our-plants-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* column-gap: 20px; */
  grid-template-rows: repeat(2, 1fr);
  gap: 30px 20px;
  /* border: 2px solid tomato;  */
}
.our-plants-card {
  max-width: 270px;
  height: 485px;
  /* border: 2px solid blueviolet;   */
}
.our-plants-card img {
  width: 100%;
  /* height: 100%; */
}
.our-plants-card h3 {
  font-weight: 500;
  font-size: 1.375rem;
  color: #111111;
  margin-top: 22px;
  margin-bottom: 15px;
}
.price {
  font-weight: bold;
  font-size: 1.375rem;
  color: #111111;
}

/* flower lover section styles */
.flower-lover {
  max-width: 1140px;
  height: 597px;
  margin: 0 auto;
  margin-bottom: 134px;
  display: flex;
  gap: 60px;
  /* justify-content: space-between; */
  align-items: center;
  /* border: 2px solid tomato;  */
}
.flower-lover-img {
  position: relative;
}
.flower-store {
  width: 100%;
  height: 100%;
}
.badge {
  max-width: 286px;
  height: 286px;
  position: absolute;
  top: -21%;
  left: 65%;
  z-index: 2;
  /* overflow: hidden; */
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
  /* filter: drop-shadow(-4px 10px 4px 0px rgba(0, 0, 0, 0.25)); */
  filter: drop-shadow(0 20px 40px rgba(0, 0, 0, 0.5));
  /* filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.7)); */
}
.flower-lover-des {
  max-width: 540px;
  text-align: left;
  height: 521px;
  /* border: 2px solid green; */
}
.flower-lover-des li {
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.5);
  /* padding-left: 50px; */
  list-style-position: inside;
}

/* Latest deal section styles */
.deal-des {
  max-width: 1440px;
  height: 138px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 120px;
  /* border: 2px solid tomato; */
}
.deal-des p {
  color: rgba(0, 0, 0, 0.5);
  max-width: 750px;
  margin: auto;
  margin-top: 16px;
  /* border: 2px solid blue; */
}
.deal-card {
  max-width: 1140px;
  height: 424px;
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: 367px 753px; */
  grid-template-columns: 1fr 2fr;
  /* grid-template-rows: repeat(2,1fr); */
  gap: 22px;
  /* border: 2px solid blueviolet; */
  margin-bottom: 120px;
}
#deal-box1,
#deal-box3 {
  /* max-width: 367px; */
  height: 197px;
  border-radius: 14px;
  /* border: 1px solid red; */
}
#deal-box2 {
  max-width: 753px;
  height: 423px;
  /* border: 2px solid green; */
  border-radius: 14px;
  grid-row: span 2;
  /* background-color: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent); */
  background-image: url("./assets/deal-zabo.png");
  background-size: cover;
  background-position: center;
  /* background-color: rgba(0, 0, 0, 0.4); */
  /* background-color: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent); */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  /* text-align: center; */
  position: relative;
}
#deal-box2 p {
  /* max-width: 498px;   */
  /* height: 50px;  */
  font-weight: bold;
  font-size: 2.5rem;
  color: #ffffff;
}
.line {
  border-left: 3px solid #ffffff;
  padding-right: 15px;
  padding-left: 15px;
}
#deal-box2 a {
  font-weight: 600;
  font-size: 1.75rem;
  color: #ffffff;
}
#deal-box2 {
  /* text-align: center; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* max-width: 753px;  */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#deal-box1 {
  background-image: url("./assets/deal-bloom.png");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#deal-box1 p {
  font-weight: bold;
  font-size: 1.25rem;
  color: #ffffff;
}
#deal-box1 a {
  font-weight: 600;
  font-size: 1rem;
  color: #ffffff;
  margin-top: 19px;
}
#deal-box1 .line,
#deal-box3 .line {
  padding-left: 10px;
  padding-right: 10px;
}
#deal-box3 {
  background-image: url("./assets/deal-ana.png");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#deal-box3 p {
  font-weight: bold;
  font-size: 1.25rem;
  color: #ffffff;
}
#deal-box3 a {
  font-weight: 600;
  font-size: 1rem;
  color: #ffffff;
  margin-top: 19px;
}
/* latest deal section image gradient */
/* .image-wrapper {
  position: relative;
  width: 753px;
  height: 423.12px;
  overflow: hidden;
}
.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.gradient-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
} */

/* Join section */
.join {
  max-width: 1440px;
  height: 533px;
  margin: 0 auto;
  background-image: url("./assets/news-letter-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.join h3 {
  color: #ffffff;
  margin-bottom: 23px;
}
.subscribe {
  display: flex;
}
.btn1 {
  color: #ffffff;
  font-weight: 600;
  padding: 19px 53.5px;
  background-color: #e95a08;
  border: none;
   margin-left: -2px;
}
.join input {
  color: rgba(0, 0, 0, 0.5);
  padding: 15.5px 540px 15.5px 20px;
}

/* footer section */
footer {
  max-width: 1440px;
  height: 348px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  /* border: 1px solid red; */
}
.footer-content {
  max-width: 1120px;
  height: 248px;
  margin: 50px 160px;
  /* border: 2px solid green; */
  display: flex;
  gap: 110.67px;
}
.footer-left {
  max-width: 359px;
  height: 179px;
}
.footer-left p {
  color: rgba(0, 0, 0, 0.5);
}
.footer-right {
  max-width: 216px;
  height: 36px;
  display: flex;
  gap: 24px;
}
.footer-right .twitter {
  max-width: 36px;
  max-height: 36px;
}
.footer-middle ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer-middle li {
  list-style: none;
}
.footer-middle a {
  text-decoration: none;
  color: #6b7280;
  /* flex: 1; */
}
.footer-second-middle ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer-second-middle li {
  list-style: none;
}
.footer-second-middle a {
  text-decoration: none;
  color: #6b7280;
}
/* Responsive for mobile devices */
@media screen and (max-width: 576px) {
  .sec-title {
    font-weight: bold;
    font-size: 1.5rem;
  }
  .sec-paragraph {
    font-size: 0.875rem;
  }
  /* navbar section */
  .navbar {
    max-width: 576px;
    margin: 0 auto;
    margin-left: 16px;
    margin-right: 16px;
    height: auto;
    justify-items: center;
    margin-top: 15px;
    /* border: 2px solid green; */
  }
  .nav-right {
    max-width: 113px;
    height: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .nav-right a {
    display: none;
  }
  /* banner section */
  .banner {
    max-width: 576px;
    height: auto;
    margin: 0 auto;
    flex-direction: column-reverse;
    gap: 28px;
    margin-top: 28px;
  }
  .banner-left {
    margin-left: 16px;
    margin-right: 16px;
    height: auto;
  }
  .banner-left h1 {
    font-size: 1.5rem;
  }

  /* Our plants */
  .our-plants {
    text-align: center;
    margin: 65px 15px 42px 16px;
    /* margin-bottom: 42px; */
    justify-items: center;
  }
  .our-plants > p {
    margin-top: 16px;
    margin-bottom: 28px;
    /* padding-left: 126px; */
    /* padding-right: 126px; */
  }
  .our-plants-cards {
    grid-template-columns: repeat(2, 1fr);
    /* row-gap: 25px;
    column-gap: 18px; */
     gap: 28.5px 18px; 
  }
  .our-plants-card {
    /* max-width: 171px; */
    height: fit-content;
  }
  .btn {
    max-width: 171px;
  }
  .price {
    font-size: 1rem;
  }
  .our-plants-card h3 {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  /* flower lover section styles */
  .flower-lover {
    max-width: 576px;
    height: auto;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 100px;
    margin-left: 18px;
    margin-right: 14px;
    text-align: left;
  }
  .badge {
    display: none;
  }
  .flower-lover-des {
    max-width: 361px;
    text-align: left;
  }
  .flower-lover-des li {
    margin-top: 16px;
  }
  /* Latest deals section */
  .deal-des {
    max-width: 576px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 51.5px;
    /* border: 2px solid tomato; */
  }
  .deal-des p {
    margin-left: 28.5px;
    margin-right: 28.5px;
  }
  .deal-card {
    max-width: 576px;
    height: fit-content;
    margin: 0 auto;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid blueviolet; */
    margin-bottom: 40px;
  }
  #deal-box2 {
    max-width: 576px;
    height: 197px;
    order: 1;
  }
  #deal-box2 p {
    font-weight: bold;
    font-size: 1.25rem;
    color: #ffffff;
  }
  #deal-box2 a {
    font-weight: 600;
    font-size: 1rem;
    color: #ffffff;
    margin-top: 19px;
  }
  /* join section */
  .join {
    /* max-width: 576px; */
    width: 100%;
    height: 275px;
    margin: 0 auto;
    /* background-size: 100%; */
    justify-items: center;
  }
  .btn1 {
     padding: 19px 10px; 
    max-width: 103px;
  }
  /* .subscribe{
    margin-left: 36px;
    margin-right: 36px;
  } */
  .join input {
    padding: 15.5px 70px 15.5px 20px; 
    max-width: 218px;
  }
  /* footer section */
  footer {
    /* max-width: 576px; */
    width: 100%;
    height: fit-content;
  }
  .footer-content {
    max-width: 576px;
    height: fit-content;
    margin: 50px 14px 50px 20px;
    /* border: 2px solid green; */
    flex-direction: column;
    gap: 20px;
  }
  .footer-left {
    height: auto;
  }
}
